@import '../../colors.scss';

    .name-shower{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        position: relative;
        
        .name-comp{
          font-size: 40px;
          
          font-weight: 600;
        }
        .pre, .pos{
          position: absolute;
        }
        .pre{
          height: calc(50% - 102.5px);
          top: 0%;
          display: flex;
          align-items: center;
          left:8%;
          opacity: 0;
          animation: show-from-left-mob 3s forwards;
        }
        .pos{
          bottom: 0;
          right: 8%;
          height: calc(50% - 102.5px);
          opacity: 0;
          animation: show-from-right-mob 3s forwards;
          text-align: end;
          display: flex;
          align-items: center;
          animation-delay: 1s;
          max-width: 65%;
        }
        
        .name-cont{
          background-color: $secondary-color-800;
          width: 100%;
          padding: 60px 0px;
          position: relative;
          box-shadow: 0px 0px 10px 4px $secondary-color-700;
          border-bottom: white 1px solid;
          border-top: white 1px solid;
        }
        .name{
          font-size: 64px;
          font-family: 'Bebas Neue', cursive;
          letter-spacing: 5px;
          width: fit-content;
          text-align: center;
          animation: name-move 8s infinite ease-in-out;
          white-space: nowrap;
      
        }
    }
  
  
  
  
  

  @media only screen and (max-width: 768px){
    .name-shower{
     
      .name-comp{
        font-size: 25px;
        
        font-weight: 600;
      }
      .pre{
        left:8%;
      }
      .pos{
        bottom: 13%;
        right: 8%;
        text-align: end;
        max-width: 50%;
        height: 12%;
        display: flex;
        align-items: center;
       
      }
      .name-cont{
        
        padding: 60px 0px;
       
      }
      .name{
        font-size: 40px;
        letter-spacing: 3px;
        animation: name-move-mob 5s infinite ease-in-out;
    
      }
    }
  }

  @keyframes show-from-left{
    from {left: -60%; opacity: 0;}
    to{left: 10%; opacity: 1;}
  }
  
  @keyframes show-from-right{
    0% {right: -60%;opacity:0}
    100%{right: 10%; opacity: 1;}
  }
  @keyframes show-from-left-mob{
    from {left: -60%; opacity: 0;}
    to{left: 8%; opacity: 1;}
  }
  
  @keyframes show-from-right-mob{
    0% {right: -60%;opacity:0}
    100%{right: 8%; opacity: 1;}
  }
  @keyframes name-move {
    0%{margin-left: 100px;}
   50% {margin-left: 100%;transform: translateX(calc(-100% - 100px));}
   100% {margin-left: 100px;}
  }
  @keyframes name-move-mob {
    0%{margin-left: 50px;}
   50% {margin-left: 100%;transform: translateX(calc(-100% - 50px));}
   100% {margin-left: 50px;}
  }