@import '../../colors.scss';

.pulsating{
    background-color: $secondary-color-500;
    padding: 25px;
    border-radius: 20px;
    font-size: 1.7rem;
    cursor: pointer;
    transition: .3s all;
    z-index: 50;
    border: none;

    &.active{
        animation: pulse 1.5s infinite;
    }

    &:hover{
        filter:brightness(.8)
    }
}

@media only screen and (max-width: 768px){
    .pulsating{
       
        padding: 15px;
        font-size: 1.4rem;
    
    }
}

@keyframes pulse {
	0% {
		transform: scale(0.90);
		box-shadow: 0 0 0 0 $base-color-600;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 13px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}