.pulsating{
    background-color: #6366F1;
    padding: 15px;
    border-radius: 20px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .3s all;
    z-index: 50;
    border: none;

    &.active{
        animation: pulse 1.5s infinite;
    }

    &:hover{
        filter:brightness(.8)
    }
}

@keyframes pulse {
	0% {
		transform: scale(0.92);
		box-shadow: 0 0 0 0 rgba(57, 11, 195, 0.815);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.92);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}