
$secondary-color-100: #C7D2FE;
$secondary-color-200: #A5B4FC;
$secondary-color-300: #818CF8;
$secondary-color-400: #6366F1;
$secondary-color-500: #4F46E5;
$secondary-color-600: #4338CA;
$secondary-color-700: #3730A3;
$secondary-color-800: #252369;
$secondary-color-900: #04023a;
$secondary-color-950:#030124;


$base-color-100: #f1f5f9;
$base-color-200: #e2e8f0;
$base-color-300: #dce1cb;
$base-color-400: #94a3b8;
$base-color-500: #64748b;
$base-color-600: #475569;
$base-color-700: #334155;
$base-color-800: #1e293b;
$base-color-900: #25262f;
$base-color-950: #030124;



