@import 'colors.scss';

body, html, #root {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: $base-color-100;
    font-family: 'Inter', sans-serif;
  }

  

  @media only screen and (min-width: 769px){
  .mobile-show{
    display: none !important;
  }
}

  @media only screen and (max-width: 768px){
    .mobile-hide{
      display: none !important;
    }
    .hidden-item:nth-child(2){
      transition-delay: 0s;
    }
  .hidden-item:nth-child(3){
      transition-delay: 0s;
    }
    
  }